[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
it8951 = {editable = true, git = "https://github.com/GregDMeyer/IT8951.git"}
"rpi.gpio" = "*"
waveshare-epd = {subdirectory = "RaspberryPi_JetsonNano/python", editable = true, git = "https://github.com/waveshare/e-Paper.git"}
pillow = "*"

[dev-packages]

[requires]
python_version = "3.7"
